$font-title: 'Dancing Script';

.about {
    margin-top: -100px;
    padding-top: 140px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    position: relative;

    &-wrapper {
        max-width: 1027px;
        margin: auto;
    }
    &:before {
        content: '';
        background: url('../images/background/bg-top.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }

    &:after {
        content: '';
        background: url('../images/background/bg-bot.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 9;
        bottom: -100px;
        left: 0;
        width: 100%;
        height: 100px;
    }

    background-color: #eadacc;

    .title {
        font-family: $font-title;
        font-size: 40px;
    }
    .img-fit{
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: 10;
        width: 80%;
        pointer-events: none;
    }
    .readmore{
        a{
            color: $color-link;
            font-weight: bold;
            font-size: 14px;
        }
    }
}

@include MQ(M){
    .about-wrapper{
        >div{
            max-width: 100%;
            flex: 0 0 100%;
            .img-fit{
                display: none;
            }
        }
    }
}