$font-title: 'Dancing Script';

footer {
    font-family: 'UTM Avo';
    margin-top: 140px;
    position: relative;
    background-color: #eadacc;
    padding-bottom: 1.5rem;

    &-wrapper {
        max-width: 1027px;
        margin: auto;
    }

    &:before {
        content: '';
        background: url('../images/background/bg-top.png');
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 9;
        top: -100px;
        left: 0;
        width: 100%;
        height: 100px;
    }

    .img-footer {
        position: relative;

        &:before {
            content: url(../images/background/bg-footer.png);
            position: absolute;
            z-index: 9;
            top: -100px;
            left: -60px;
        }
    }


    .title {
        font-family: $font-title;
        font-size: 40px;
    }

    .img-fit {
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: 10;
        width: 80%;
        pointer-events: none;
    }

    .readmore {
        a {
            color: $color-link;
            font-weight: bold;
            font-size: 14px;
        }
    }

    .ft-top {
        padding-top: 2.5rem;

        .b-right {
            border-right: 4px solid #cfb298;
        }
    }

    .list-follow {
        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 0.5rem;
            }

            a {
                display: inline-block;
                width: 40px;
                height: 40px;
                background-color: #1c1c1c;
                text-align: center;
                color: #fff;
                border-radius: 8px;
                padding-top: 5px;
                font-size: 18px;
                transition: .4s ease-in-out;

                &:hover {
                    background-color: $color-second;
                    box-shadow: 0 0 10px 1px #d8a374;
                }
            }
        }
    }

    .lastestNews {
        .newsletters-input {
            background-color: #f4eae1;
            display: inline-block;
            width: 80%;
            border-radius: 0;

            &:active, &:focus {
                box-shadow: none;
                outline: none;
                border-color: #f4eae1;
            }
        }

        .button-email {
            display: inline-block;
            width: 20%;
            float: right;
            background-color: #b5865c;
            color: #fff;
            text-transform: uppercase;
            border-radius: 0;
            border-color: #b5865c !important;

            &:active, &:focus {
                box-shadow: none !important;
                outline: none;
                background-color: #b5865c !important;
            }
        }
    }

    .ft-bot {
        padding-top: 1.5rem;
        font-size: 13px;

        .orgName {
            color: #3f3b37;
            font-size: 14px;
        }

        a {
            color: $color-primary;
        }
    }
}

@include MQ(M) {
    footer {
        .img-footer:before {
            content: none;
        }

        .ft-top {
            flex-direction: column;

            > div {
                flex: 0 0 100%;
                max-width: 100%;
                margin: auto !important;
                text-align: center !important;
                margin-bottom: 0.5rem;
                order: 2;

                &.lastestNews {
                    max-width: 50%;
                }

                &.logo {
                    order: 1;
                }
            }
        }
    }
}

@include MQ(S) {
    &.lastestNews {
        max-width: 100% !important;
    }
    section>.title{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
