.item-thumb {
    padding-left: 2px;
    padding-right: 2px;

    img {
        cursor: pointer;
        border: 1px solid transparent;
        transition: .4s ease;

        &:hover {
            border-color: #ccc;
        }
    }
}

.gallery-thumbs2 {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.gallery-top2 {
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        outline: none;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23cccccc'%2F><%2Fsvg>");
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        outline: none;
        background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'><path%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23cccccc'%2F><%2Fsvg>");
    }
}

.product-detail {
    .product-info {
        padding-left: 3rem;
        padding-right: 3rem;
        .name {
            font-family: "UTM Libel KT";
            color: #030303;
            font-size: 32px;
        }

        .sumary {
            height: 9rem;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}
.product-detail2{
    padding-bottom: 2rem;
    .nav-tabs{
        justify-content: flex-start;
        .nav-link{
            font-family: 'Cambria';
            font-size: 16px;
            height: auto;
        }
    }
    .tab-content{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}