@model Frontend.Models.HeaderViewModel
@using Store.Service.Models

<aside class="line-top d-flex flex-column flex-center flex-middle">
    Đơn vị sản xuất học cụ Montessori bám sát tiêu chuẩn quốc tế tại Việt Nam
</aside>
<header class="header">
    <div class="container">
        <div class="header-top">
            <div class="header-search">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M8.13813 16.9191L3.5286 21.5285L2.58577 20.5857L7.19533 15.9762L8.13813 16.9191Z" fill="black" />
                        <path d="M0 22.1144L4.61773 17.4966L6.33333 17.3766L6.66667 17.7099L6.4748 19.4109L1.88562 24L0 22.1144Z"
                              fill="black" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M14 18.6667C18.7865 18.6667 22.6667 14.7865 22.6667 10C22.6667 5.21355 18.7865 1.33334 14 1.33334C9.21353 1.33334 5.33333 5.21355 5.33333 10C5.33333 14.7865 9.21353 18.6667 14 18.6667ZM14 20.0001C19.5229 20.0001 24 15.5229 24 10C24 4.47715 19.5229 0 14 0C8.47713 0 4 4.47715 4 10C4 15.5229 8.47713 20.0001 14 20.0001Z"
                              fill="black" />
                    </svg>
                </a>
            </div>
            <div class="header-logo">
                <a href="/" class="logo">
                    <img src="http://placehold.it/190x80" alt="">
                </a>
            </div>
            <div class="header-action">
                <div class="header-cart">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="30" viewBox="0 0 32 30" fill="none">
                            <path d="M24.5348 0.559998C20.5651 0.559998 17.3098 3.67499 17.0835 7.58903H15.933V5.51408C15.933 2.78239 13.7106 0.559998 10.9789 0.559998C8.2472 0.559998 6.02487 2.78239 6.02487 5.51402V7.58897H0.93748C0.419741 7.58897 0 8.00871 0 8.52645V31.6218C0 32.1395 0.419741 32.5592 0.93748 32.5592H21.0204C21.5381 32.5592 21.9578 32.1395 21.9578 31.6218V15.0301C26.7088 16.8602 32.0742 13.1312 31.9993 8.02427C31.9993 3.90849 28.6508 0.559998 24.5348 0.559998ZM7.89983 5.51402C8.05514 1.43404 13.904 1.43654 14.058 5.51408C14.058 5.51402 14.058 7.58903 14.058 7.58903H7.89983V5.51402ZM20.0829 30.6844H1.87496V9.46393H6.02487V11.5389C6.02487 12.0566 6.44461 12.4764 6.96235 12.4764C7.48009 12.4764 7.89983 12.0566 7.89983 11.5389V9.46393H14.058V11.5389C14.058 12.0566 14.4778 12.4764 14.9955 12.4764C15.5132 12.4764 15.933 12.0566 15.933 11.5389V9.46393H17.2106C17.5686 11.2709 18.5966 12.9059 20.0828 14.0145V30.6844H20.0829ZM24.5348 13.6138C21.4529 13.6138 18.9454 11.1064 18.9454 8.02434C19.2265 0.619372 29.8445 0.621434 30.1244 8.02446C30.1244 11.1065 27.6169 13.6138 24.5348 13.6138Z"
                                  fill="black" />
                        </svg>
                    </a>
                </div>
                <div class="header-language">
                    <img src="http://placehold.it/29x29" alt="">
                    <a href="/">TIẾNG VIỆT</a>
                </div>
            </div>
        </div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a href="/">CHÚNG TÔI LÀ AI?</a>
                    <ul class="sub-menu">
                        <li><a href="">Khát vọng của Khai Tâm</a></li>
                        <li><a href="">Chất lượng sản xuất</a></li>
                        <li><a href="">Nghiên cứu & Phát triển</a></li>
                    </ul>
                </li>
                <li><a href="/">CHÚNG TÔI LÀM GÌ?</a></li>
                <li><a href="/hoc-cu-cho-tre-0-3">CỬA HÀNG ONLINE</a></li>
                <li><a href="/">ĐỒNG HÀNH CÙNG CHÚNG TÔI</a></li>
                <li><a href="/">HIỂU VỀ MONTESSORI</a></li>
            </ul>
        </nav>
    </div>
</header>