@model Frontend.Models.LayoutContactViewModel
@{ var cookielang = Request.Cookies["lang"].Value;}
<div class="contact-partial" style="margin-top: 1rem">
    <div class="row contact-main">
        <div class="col-md-12">
            <div class="main-form">
                <div role="form" class="wpcf7 g-recaptcha" data-sitekey="my public sitekey here" id="wpcf7-f7-p397-o1" lang="en-US" dir="ltr">
                    @using (Ajax.BeginForm(MVC.Home.Contact(), new AjaxOptions { HttpMethod = "POST", OnSuccess = "ContactSuccess" }, new { @class = "contact-form", id = "contact-area" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.EditorFor(m => m.CustomerContact)
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn-default btn-submit" type="submit">@Resource.Send</button>
                            </div>
                        </div>
                    }
                    <p id="alert-contact" class="mt-3 df-color"></p>
                </div>
            </div>
        </div>
    </div>


</div>
