@model List<Frontend.Models.BannerViewModel>

<div class="promotion row wrapper">
    @foreach (var item in Model)
    {
        <div class="col-md-6">
            <div class="thumb img-shine">
                <img src="@item.ImageUrl" alt="@item.AdName">
            </div>
            <div class="link">
                <a href="@item.Url" class="btn toUpper">@Resource.ReadMore</a>
            </div>
        </div>
    }
</div>