@model List<Frontend.Models.BannerViewModel>

@if (Model.Count() > 0)
{
<section class="aboutUs">
    <h3 class="title draw-botLeft">Khách hàng nói về chúng tôi</h3>
    <div class="aboutUs-list">
        @foreach (var item in Model)
        {
            <div class="aboutUs-item">
                <div class="desc">@item.Content.RemoveHtml()</div>
                <div class="author">
                    <p class="text-uppercase text-bold mb-1">@item.AdName</p>
                    <p class="small m-0">@item.Note</p>
                </div>
            </div>
        }
    </div>
</section>
}



