/*-variable*/
$bg:#e6e6e5;


.maps {
    padding-bottom: 30px;

    .maps-source {
        @include size(100%,auto);
        border-top: 3px solid $bg;

        @include MQ(L) {
            border-top: 6px solid $bg;
        }

        iframe {
            width: 100%;
            min-height: 300px;
            border: none;
            box-shadow: none;

            @include MQ(L) {
                min-height: 600px;
            }

            @include MQ(CS) {
                min-height: 450px;
            }
        }
    }

    .maps-title {
        @include text(16px $font-second,1.3,uppercase);
        color: $color-primary;
        padding: 15px 30px;
        background-color: $bg;
        display: inline-block;
        margin: 0;
    }
}
