/*-variable.*/
$border:#e6e6e5;

.related {

    .related-wrap {
        border-top: 6px solid $border;
        padding: 30px 0;
    }

    .list-card {
        margin: 0;
        justify-content:center;
    }
}