.header{
    position: absolute;
    z-index: 111;
    top: 90px;
    width: 100%;
    &.is-fixed{
        position: fixed;
        background-color: #fff;
        top: 0;
        box-shadow: 0 0 10px 1px #ccc;
        .logo{
            height: 100%;
            a{
                text-align: center;
            }
            img{
                display: inline-block;
                height: 100%;
            }
        }
    }
}