@mixin d-flex($direction: row) {
  display: flex;
  flex-direction: $direction;
}

@mixin d-flex-row($align: left, $vehicle: center, $gap: 10px) {
  justify-content: $align;
  align-items: $vehicle;
  gap: $gap;
  @include d-flex(row);
}

@mixin d-flex-column($align: left, $vehicle: center, $gap: 10px) {
  justify-content: $align;
  align-items: $vehicle;
  gap: $gap;
  @include d-flex(column);
}

@mixin reset-spacing() {
  padding: 0;
  margin: 0;
  line-height: normal;
}

@mixin font-style(
  $font-family: $font-default,
  $font-size: 16px,
  $font-style: normal,
  $font-weight: normal,
  $color: #000000,
  $text-align: left
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: $font-style;
  color: $color;
  text-align: $text-align;
}

@mixin max-line($line: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin reset-ul() {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
